.content {
  padding: 40px 80px;
}

.box-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  > .box {
    width: 100%;

    &:not(:only-child) {
      &:first-child {
        margin-right: 20px;
      }

      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}

.box {
  /* border: 2px solid var(--foreground); */
  border-radius: 4px;
  padding: 40px;

  background: var(--foreground);
  opacity: 0.1;
}
